<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">{{ site.data.site_headers.call_to_action_header }}</h2>
                <hr class="light">
                <p class="text-faded">{{ site.data.site_headers.call_to_action_text }}</p>
               <!-- <a href="#before_products" class="btn btn-default btn-xl page-scroll">Nuestros productos</a> -->
            </div>
        </div>
    </div>
</section>
