<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Tenemos lo que usted necesita!</h2>
                <hr class="light">
                <p class="text-faded">Estamos orgullosos de nuestros productos. 
                    A pesar de la industria y haber cambiado inmensamente con el tiempo, hay algunas cosas que se 
                    mantienen constantes como son nuestra atención al detalle, la calidad de nuestros productos 
                    y el cuidado para aquellos que los usan. Dese una vuelta por nuestra página, para obtener 
                    una mejor idea de quiénes sómos y qué hacemos.</p>
               <!-- <a href="#before_products" class="btn btn-default btn-xl page-scroll">Nuestros productos</a> -->
            </div>
        </div>
    </div>
</section>
