<section id="form">

  <div class="container">

    <form id="demo-form" role="form"
      action="https://getsimpleform.com/messages?form_api_token=a1a70be918ca59b2f68e9fb2f2b0dc04" method="post"
      enctype="multipart/form-data">

      <input name="redirect_to" value="https://switch-on-line-md.github.io/web/#thank-you" type="hidden">
      <input name="_folder" value="rfps" type="hidden">
      <input name="_spam" value="message" type="hidden">

      <p id="thank-you-message" class="hidden" style="color:green;">
        Nos pondremos en contacto a la brevedad!
      </p>

      <div class="form-group">
        <label>Nombre</label>
        <input name="name" class="form-control" style="padding-top: 5px;padding-bottom: 5px;" type="text">
      </div>

      <div class="form-group">
        <label>Telefono</label>
        <input name="phone" class="form-control" style="padding-top: 5px;padding-bottom: 5px;" type="tel">
      </div>
      <!--
      <div class="form-group">
        <label>Address</label>
        <textarea name="address" rows="4" class="form-control"></textarea>
      </div>
    -->
      <div class="form-group">
        <label>Mensaje</label>
        <textarea type="text" name="message" rows="6" class="form-control"></textarea>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

  </div>

</section>