  <div class="container">
    <form action="https://getsimpleform.com/messages?form_api_token=<form_api_token>" method="post">
    <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
    <input type='hidden' name='redirect_to' value='<the complete return url e.g. http://fooey.com/thank-you.html>' />
    <div class="row">
      <div class="col-25">
        <label for="fname">Nombre</label>
      </div>
      <div class="col-75">
        <input type="text" id="fname" name="firstname" placeholder="Tu nombre..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="lname">Aprellido</label>
      </div>
      <div class="col-75">
        <input type="text" id="lname" name="lastname" placeholder="Tu Apellido..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="subject">Asunto</label>
      </div>
      <div class="col-75">
        <textarea id="subject" name="subject" placeholder="Tu consulta.." style="height:200px"></textarea>
      </div>
    </div>
    <div class="row">
      <input type="submit" value="Enviar">
    </div>
    </form>
  </div>