<header>
    <div id="container">
        <video playsinline autoplay muted loop poster="/web/video/poster.jpg">
            <source src="/web/video/layout_test.mp4" type="video/mp4">
        </video>
    </div>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>{{ site.data.site_headers.site_header }}</h1>
            <h3>{{ site.data.site_headers.site_sub_header }}</h3>
            <hr>
            <a href="#about"
                class="btn btn-primary btn-xl page-scroll">{{ site.data.site_headers.site_header_button }}</a>
        </div>
    </div>
</header>