<section class="no-padding" id="portfolio">
    {% for post in site.posts %}
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-box" data-toggle="modal">
                    <img src="img/portfolio/{{ post.img }}" class="img-responsive" title="{{ post.title }}" alt="{{ post.thumb-alt }}">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                {{ post.title }}
                            </div>
                            <div class="project-name">
                                {{ post.subtitle }}
                            </div>
                        </div>
                    </div>
                </a>
            </div> 
        </div>
    </div>
    {% endfor %}
</section>
