<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            {% for post in site.posts %}


            <div class="col-lg-4 col-sm-6">
                <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-box" data-toggle="modal">
                    <img src="img/portfolio/1.jpg" class="img-responsive" title="filtro u450" alt="modelo u450 cartucho carbon activado con accesorios">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Modelo U450
                            </div>
                            <div class="project-name">
                                Ideal para casas con...
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}

            <div class="col-lg-4 col-sm-6">
                    <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-box" data-toggle="modal">
                    <img src="img/portfolio/2.jpg" class="img-responsive" title="filtro ot32" alt="modelo ot32 cartucho carbon activado y polipropileno con accesorios">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Filtro
                            </div>
                            <div class="project-name">
                                Modelo OT32
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                    <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-box" data-toggle="modal">
                    <img src="img/portfolio/3.jpg" class="img-responsive" title="filtro ot5" alt="modelo ot5 cartucho carbon activado y polipropileno con accesorios">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Filtro
                            </div>
                            <div class="project-name">
                                Modelo OT5
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                    <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-box" data-toggle="modal">
                    <img src="img/portfolio/4.jpg" class="img-responsive" title="filtro bf7" alt="modelo bf7 cartucho polipropileno con accesorios">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Filtro
                            </div>
                            <div class="project-name">
                                Modelo BF7
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                    <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-box" data-toggle="modal">
                    <img src="img/portfolio/5.jpg" class="img-responsive" title="filtro r200" alt="modelo r200 cartucho carbon activado refrigeradora">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Diseñado para Refrigeradoras
                            </div>
                            <div class="project-name">
                                Modelo R200
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                    <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-box" data-toggle="modal">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Accesorios y Repuestos
                            </div>
                            <div class="project-name">
                                Caños, O-Rings, Tubos de abasto, etc
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                    <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-box" data-toggle="modal">
                        <img src="img/portfolio/7.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Cloro:
                                </div>
                                <div class="project-name">
                                    En Pastillas, Granulado y Liquido
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                        <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-box" data-toggle="modal">
                        <img src="img/portfolio/8.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Desinfectante
                                </div>
                                <div class="project-name">
                                    Sulfato de Cobre
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                        <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-box" data-toggle="modal">
                        <img src="img/portfolio/9.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Cuagulante 
                                </div>
                                <div class="project-name">
                                    Sulfato de Alumina
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                
        </div>
    </div>
</section>
