@mixin transition-all()
{
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}

@mixin background-cover()
{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

@mixin button-variant($color, $background, $border)
{
	color: $color;
	background-color: $background;
	border-color: $border;
	@include transition-all;

	&:hover,
	&:focus,
	&.focus,
	&:active,
	&.active,
	.open > .dropdown-toggle & {
		color: $color;
		background-color: darken($background, 5%);
    border-color: darken($border, 7%);
	}
	&:active,
	&.active,
	.open > .dropdown-toggle & {
		background-image: none;
	}
	&.disabled,
	&[disabled],
	fieldset[disabled] & {
		&,
		&:hover,
		&:focus,
		&.focus,
		&:active,
		&.active {
			background-color: $background;
			border-color: $border;
		}
	}

	.badge {
		color: $background;
		background-color: $color;
	}
}

@mixin sans-serif-font()
{
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

@mixin serif-font()
{
	font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}


	/// Breakpoints.
	/// @var {list}
	$breakpoints: () !global;

	/// Vendor prefixes.
	/// @var {list}
	$vendor-prefixes: (
		'-moz-',
		'-webkit-',
		'-ms-',
		''
	);

	/// Properties that should be vendorized.
	/// @var {list}
	$vendor-properties: (
		'align-content',
		'align-items',
		'align-self',
		'animation',
		'animation-delay',
		'animation-direction',
		'animation-duration',
		'animation-fill-mode',
		'animation-iteration-count',
		'animation-name',
		'animation-play-state',
		'animation-timing-function',
		'appearance',
		'backface-visibility',
		'box-sizing',
		'filter',
		'flex',
		'flex-basis',
		'flex-direction',
		'flex-flow',
		'flex-grow',
		'flex-shrink',
		'flex-wrap',
		'justify-content',
		'order',
		'perspective',
		'pointer-events',
		'transform',
		'transform-origin',
		'transform-style',
		'transition',
		'transition-delay',
		'transition-duration',
		'transition-property',
		'transition-timing-function'
	);

	/// Values that should be vendorized.
	/// @var {list}
	$vendor-values: (
		'filter',
		'flex',
		'linear-gradient',
		'radial-gradient',
		'transform'
	);



	/// Vendorizes a declaration's property and/or value(s).
	/// @param {string} $property Property.
	/// @param {mixed} $value String/list of value(s).
	@mixin vendor($property, $value) {
		// Determine if property should expand.
			$expandProperty: index($vendor-properties, $property);
		// Determine if value should expand (and if so, add '-prefix-' placeholder).
			$expandValue: false;
			@each $x in $value {
				@each $y in $vendor-values {
					@if $y == str-slice($x, 1, str-length($y)) {
						$value: set-nth($value, index($value, $x), '-prefix-' + $x);
						$expandValue: true;
					}
				}
			}
		// Expand property?
			@if $expandProperty {
			    @each $vendor in $vendor-prefixes {
			        #{$vendor}#{$property}: #{str-replace-all($value, '-prefix-', $vendor)};
			    }
			}
		// Expand just the value?
			@elseif $expandValue {
			    @each $vendor in $vendor-prefixes {
			        #{$property}: #{str-replace-all($value, '-prefix-', $vendor)};
			    }
			}
		// Neither? Treat them as a normal declaration.
			@else {
		        #{$property}: #{$value};
			}
	}